@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'prismjs/themes/prism.css';
@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background-image: url('https://i0.wp.com/i.redd.it/0nu9n7wc08k11.jpg?ssl=1');
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    filter: blur(20px);
    z-index: -1;
  }
  
  .container {
    position: relative;
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  
  .container > div {
    opacity: 1;
  } */